body{
    margin: 0;

}

input[type=color]{
   display: block;
   border: none;
   padding: 0;

   width: 200px;
   height: 50px;
}

input[type=range]{
    display: block;
    width: 200px;
    padding: 0;
    border: none;
}

.colorBlock{
    
    width: 200px;
}