body{
    margin: 0;

}
input[type=range]{

    float: left;
    display: block;
    width: 200px;
    padding: 0;
    margin: 0;
    border: none;
}

#colorPalete{
    width: 600px;
    height: 100px;
    background-color: chocolate;
}

#cssCode{
    width: 600px;
    height: 100px;
    clear: both;
    display: block;
    padding: 0;
    margin:0;

    text-align: center;
}
